<ion-header>
  <ion-navbar>
    <ion-title>
      Assignment 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h3>Entre como o código correto</h3>
        <p *ngIf="!onDidWin()">Toque 2x, pressione 4x</p>
        <p *ngIf="onDidWin()">Você ganhou!</p>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <p>Toque: {{ tapped }}</p>
          </ion-item>
          <ion-item>
            <p>Pressione: {{ pressed }} </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-reset (didReset)="onDidReset($event)"></app-reset>
    <ion-row>
      <ion-col text-center style="background-color: lightgreen" (tap)="onTap()">Toque aqui
      </ion-col>
      <ion-col text-center style="background-color: lightgreen" (press)="onPress()">Pressione Aqui
      </ion-col>

    </ion-row>
  </ion-grid>


  <button ion-button block (click)="lifecycle()" color="secundary">Life Cycle Events</button>
</ion-content>
